<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Employee Info</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css" />
  </head>
  <body>
   <h1>Find Additional Info Here</h1> 
   <h2>Select an employee:</h2>
    <ul>
        {{#each employees}}
            <li><a href= "/detail?firstName={{firstName}}">{{firstName}}</a></li>
        {{/each}}
    </ul>
  </body>
</html>
